html
    head
        title= title
    body
        h1= message
        ol
            li coding 1
            li coding 2
            li coding 3
        //- Is this comment?
        ul
            -for(let i=0; i<5; i++)
                li coding 
        div Now, the time is... 
            span= time
