html
    header
        meta(charset="utf-8")
        title New tools
    body
        form(action="/program" method='POST')
            p
                input(type="text" name="title" placeholder="Title")
            p
                textarea(name="description" placeholder="Description...")
            p
                input(type="submit")